.con1 {
  display: flex;
  flex-direction: column;
}

.rotater {
  display: flex;
  gap: 0.29rem;
  padding-left: 40%;
  padding-top: 10%;
  transform-origin: bottom-center;
}

button {
  padding: 15px 25px;
  font-size: 20px;
  background-color: #5f9ea0;
  box-shadow: 0 0 0 1px;
}

button:hover {
  background-color: #9acd32;
}

h1 {
  text-align: center;
  padding-right: 10%;
  font-size: 50px;
}
